@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lato:wght@400;700&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


@import "tailwindcss";

*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}

.font-vujahday-script {
  font-family: 'Vujahday Script', cursive;
}

.font-kaushan {
  font-family: 'Kaushan Script', cursive;
  font-weight: 300;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

@font-face {
  font-family: 'Timeless';
  src: url('/fonts/Timeless.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Timeless';
  src: url('/fonts/Timeless-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


body {
  font-family: 'Timeless', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

/* Global background class */
.bg-global {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -9999;
  background-image: url('./assets/wholebg.png');  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}
